* {
  background-color: rgb(41, 41, 41);
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

p {
  margin: 0 0 5rem 0;
}
#display-gcd {
  margin: 0 0 1rem 0;
}

#display-variables {
  z-index: 1000;
}

.run-btn {
  background-color: white;
  color: rgb(41, 41, 41);
  padding: 2rem 3rem;
  border: 2px solid white;
  border-radius: 100px;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: 1000;
}

.run-btn:hover {
  background-color: rgb(41, 41, 41);
  color: white;
}

.run-btn:active {
  background-color: rgb(68, 68, 68);
}
