body,
html {
  width: 100%;
  height: 100%;
  min-width: 700px;
  min-height: 600px;
  font-family: 'Montserrat', sans-serif;
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
	width: 95%;
	display: flex;
	justify-content: space-between;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

li {margin: 2rem 1rem;}

a, 
a:link, 
a:visited, 
a:hover {color: #212121;text-decoration: none;}

.btn {border-radius: 100px;background-color: #212121;}

.btn:hover {
	background-color: #525252;
	border-color: #525252;
}

.login {width: 5em;margin: 1rem;}

.contacts {margin: 2rem 1rem 2rem 2rem;}

.snowflake {width: 66px;height: 66px;}

.snowflake {margin: 0.5rem 0 0 0;}

.logo {
	margin: 2rem 2rem;
	display: flex;
	align-items: center;
}

.logo-text {
	margin: 0 0 0 0.5rem;
	font-family: 'Major Mono Display', monospace;
	font-size: 2rem;
}

h1 {
	font-size: 4.5em;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 1rem 0 0 0;
}

.maincontent {
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.register {
	font-size: 1.8rem;
	height: 94px;
	width: 280px;
}